body{
    background-color: black;
    text-align: center;
}

#discover h1{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.guide h1, .app h1{
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}


.link {
    color: aquamarine;
    font-size: 16px;
}

/* W3school에서 참고 */
a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.footer {
    text-align: right;
    color: gray;
}